/* .goog-te-banner-frame.skiptranslate, .goo-te-gadget-simple img{
    display: none !important;
}

.goog-tooltip{
    display: none !important;
}

.goog-tooltip:hover{
    display: none !important;
}

.goog-text-highlight{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
} */
.goog-te-combo{
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c7a17a;
    border-radius: 10px;
    color: white;
    padding: 10px;
    /* width:150px; */
  
  }
  
  .goog-te-combo select{
    padding: 10px;
  }

.skiptranslate inframe  { 
    display: none !important;
} 
body {
    top: 0px !important; 
}
.google_translate_element{
    display: none !important;
}
/* .skiptranslate  {
    display:none !important;
}



/* .trans-section {
    margin: 100px;
} */

/* body{
    top: 0px !important; 
    position: static !important; 
    }
    
    .goog-te-banner-frame{
    display:none !important
    } */
