/* .goog-te-banner-frame.skiptranslate, .goo-te-gadget-simple img{
    display: none !important;
}

.goog-tooltip{
    display: none !important;
}

.goog-tooltip:hover{
    display: none !important;
}

.goog-text-highlight{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
} */


 .goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}
.goog-logo-link {
    display:none !important;
}
.trans-section {
    margin: 100px;
}

